{% extends "standardLayout.html" %}
{% import "_formHelpers.html" as formhelper %}

{% block content %}

<header>
	<h2 class="col-sm-6">Manifest</h2>
</header>

<div class="clearfix"></div>

<table class="table">
	<thead>
		<tr>
			<th>Date Uploaded</th>
			<th>User</th>
			<th>Spreadsheet</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{ manifest.uploaded | datetime_format }}</td>
			<td>{{ manifest.user.username }}</td>
			<td><a href="{{ url_for('manifest_download', id=manifest.id) }}">{{ manifest.filename }}</a></td>
		</tr>
	</tbody>
</table>

{% endblock %}
