{% extends "standardLayout.html" %}
{% import "_formHelpers.html" as formhelper %}

{% block content %}

<header>
	<h2 class="col-sm-11">Uploaded Spreadsheets</h2>
	<div class="col-sm-1">
		<a href="{{ url_for('speadsheet_upload') }}" class="btn btn-primary" role="button">Upload New</a>
	</div>
</header>

<div class="clearfix"></div>

<table class="table">
	<thead>
		<tr>
			<th></th>
			<th>Filename</th>
			<th>Uploaded by</th>
			<th>Batch Code</th>
			<th>Uploaded</th>
		</tr>
	</thead>
	<tbody>
		{% for item in spreadsheets.items %}
			<tr>
				<td>
			        <a href="{{ url_for('speadsheet_details', id=item.id) }}" class="btn btn-default" role="button">View Details</a>
			        <a href="{{ url_for('speadsheet_download', id=item.id) }}" class="btn btn-default" role="button">Download</a>
				</td>
				<td>{{ item.filename }}</td>
				<td>{{ item.user.username }}</td>
				<td>{{ item.batch.batchCode }}</td>
				<td><time datetime="{{ item.uploaded.isoformat() }}">{{ item.uploaded | datetime_format }}</time></td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{{ formhelper.render_pagination(spreadsheets, 'speadsheet_index') }}

{% endblock %}


{% block script %}

<script type="text/javascript">
    $(function () {
		$( "time" ).each(function() {
			self = $(this);
			m = moment(self.text());
			self.text(m.fromNow());
  		});
    });
</script>

{% endblock %}