{% extends "standardLayout.html" %}
{% import "_formHelpers.html" as formhelper %}

{% block content %}

<form method="POST">
    {{ form.hidden_tag() }}
    <dl>
    	{{ formhelper.render_field(form.name) }}
    </dl>
    <dl>
		<label for="robot">robot</label>
  
    	<input id="robot" name="robot" type="text" value="">

	   	{{ formhelper.render_errors(form.robot)}}
    </dl>

    <div>
        <a href="{{ url_for('index') }}" class="button">Cancel</a>
        <input type="submit" value="Save">
    </div>
</form>

{% endblock %}