{% extends "standardLayout.html" %}
{% import "_formHelpers.html" as formhelper %}

{% block content %}

<h2>Edit Batch</h2>

<form method="POST" class="form-horizontal">
    {{ form.hidden_tag() }}

    <div class="col-sm-5">
        {{ formhelper.render_field(form.batch.batchCode) }}
        {{ formhelper.render_field(form.batch.robot) }}
        {{ formhelper.render_field(form.batch.pcrMachine) }}
    </div>

    <div class="col-sm-2"></div>

    <div class="col-sm-5">
        {{ formhelper.render_field(form.batch.temperature) }}
        {{ formhelper.render_field(form.batch.datetime) }}
    </div>

    <div class="col-sm-12 text-right">
        <a href="{{ url_for('batch_index') }}" class="btn btn-default" role="button">Cancel</a>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>

{% endblock %}

{% block script %}

<script type="text/javascript">
    $(function () {
        $('#batch-datetime').datetimepicker({ format: 'D/M/YYYY H:m'});
    });
</script>

{% endblock %}
