{% extends "standardLayout.html" %}
{% import "_formHelpers.html" as formhelper %}

{% block content %}

<header>
	<h2 class="col-sm-6">Batches</h2>
	<div class="col-sm-6 text-right">
		<a href="{{ url_for('speadsheet_upload') }}" class="btn btn-primary" role="button">Upload Spreadsheet</a>
		<a href="{{ url_for('batch_entry') }}" class="btn btn-primary" role="button">Enter Batch</a>
	</div>
</header>

<div class="clearfix"></div>

<table class="table">
	<thead>
		<tr>
			<th></th>
			<th>Entered by</th>
			<th>Batch Code</th>
			<th>Robot</th>
			<th>PCR Machine</th>
			<th>Temperature</th>
			<th>Batch Processed</th>
			<th>Spreadsheet</th>
		</tr>
	</thead>
	<tbody>
		{% for item in batches.items %}
			<tr>
				<td>
					<a href="{{ url_for('batch_edit', id=item.id) }}">
						<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
						<span class="sr-only">Edit</span>
					</a>
					<a href="{{ url_for('batch_delete', id=item.id) }}">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						<span class="sr-only">Delete</span>
					</a>
				</td>
				<td>{{ item.user.username }}</td>
				<td>{{ item.batchCode }}</td>
				<td>{{ item.robot }}</td>
				<td>{{ item.pcrMachine }}</td>
				<td>{{ item.temperature }}</td>
				<td>{{ item.datetime | datetime_format }}</td>
				<td><a href="{{ url_for('speadsheet_download', id=item.id) }}">{{ item.spreadsheet.filename }}</a></td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{{ formhelper.render_pagination(batches, 'batch_index') }}

{% endblock %}


{% block script %}

<script type="text/javascript">
    $(function () {
		$( "time" ).each(function() {
			self = $(this);
			m = moment(self.text());
			self.text(m.fromNow());
  		});
    });
</script>

{% endblock %}