{% extends "standardLayout.html" %}
{% block content %}
    <div class="jumbotron">
        <h1 class="text-center">Telomere Length</h1>
    </div>


    <div>
        <div class="alert alert-danger" role="alert">
            <h2>
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Application Error
            </h2>
            <p>
                An error has occurred in the running of the application.
                Please report the error to the LCBRU IT team.
            </p>
        </div>
    </div>
{% endblock %}

