{% macro render_field(field) %}
  <div class="form-group">
    {% if field.type == "BooleanField" %}
        {{ render_field_control(field, **kwargs) }}{{ field.label }}
    {% else %}
        {{ field.label() }}{{ render_field_control(field, **kwargs) }}
    {% endif %}
    {{ render_errors(field)}}
  </div>
{% endmacro %}

{% macro render_field_control(field) %}
  {% if field.flags.required %}
    {{ field(class="form-control", required="required", **kwargs)|safe }}
  {% else %}
    {{ field(class="form-control", **kwargs)|safe }}
  {% endif %}
{% endmacro %}

{% macro render_errors(field) %}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}