{% extends "standardLayout.html" %}
{% block content %}
    <div class="jumbotron">
        <h1 class="text-center">Telomere Length</h1>
    </div>

    <div class="col-sm-6 col-sm-offset-3">
        <h2>Progress so far</h2>
        <table class="table">
        	<tr>
        		<td>Batches Processed</td>
        		<td class="text-right">{{ '%d' | format(batches) }}</td>
        	</tr>
        	<tr>
        		<td>Samples Processed</td>
                <td class="text-right">{{ '%d' | format(samples) }}</td>
        	</tr>
        	<tr>
        		<td>Measurements Processed</td>
                <td class="text-right">{{ '%d' | format(measurements) }}</td>
        	</tr>
        </table>
    </div>
    <div class="col-sm-12 text-center">
        <a href="{{ url_for('speadsheet_upload') }}" class="btn btn-primary btn-sm" role="button">Upload Spreadsheet</a>
        <a href="{{ url_for('batch_entry') }}" class="btn btn-primary btn-sm" role="button">Enter Batch</a>
    </div>
{% endblock %}

