{% extends "standardLayout.html" %}
{% block content %}
    <div class="jumbotron">
        <h1>Telomere Length</h1>
    </div>

    <h2>Progress so far</h2>

    <table class="table">
    	<tr>
    		<td>Bathes Processed</td>
    		<td>{{batches}}</td>
    	</tr>
    	<tr>
    		<td>Samples Processed</td>
    		<td>{{samples}}</td>
    	</tr>
    	<tr>
    		<td>Measurements Processed</td>
    		<td>{{measurements}}</td>
    	</tr>
    </table>

    <a href="{{ url_for('batch_entry') }}" class="btn btn-default" role="button">Enter Batch</a>
{% endblock %}

